/* app css stylesheet */

.view {
  min-height: 1500px;
}

#grid {
  padding-left: 1px;
  padding-right: 1px; 
  padding-top: 1px; 
  padding-bottom: 1px
}

.jumbotron {
  padding-top: 100px !important;
  margin-bottom: 1px !important;
}

img {
  max-width: 99%;
}
video {
  max-width: 99%;
}

input{
 text-align:center;
}




.insta-container {
  display: inline-block;
  position: relative;
}

.info-button {
  position: absolute;    
  right: 10px;
  bottom: 10px;
}




.infoVisible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.infoHidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.init{
  visibility: hidden;
}


.removed {
  -webkit-animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}

@-webkit-keyframes removed-item-animation {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

.restored {
  visibility: visible;
  -webkit-animation: restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
}


@-webkit-keyframes restored-item-animation {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  #search{
    float:center;
    text-transform:uppercase;
  }

  #search:focus {
  }
}

@media (min-width: 768px) {

  .searchnofocus{
    font-size: 20px !important;
    text-transform:uppercase !important;
  }

  .searchfocus{
    font-size: 36px !important;
  }

  .nofocus{
    width: 40%;
    -webkit-transition: width,height 0.6s, 0.6s ease-in-out;
    -moz-transition:width 0.6s ease-in-out;
    -o-transition: width 0.6s ease-in-out;
    transition: width height 0.6s ease-in-out;
    float:left;
  }

  .focus {
    width: 100% !important;
  }
}
