<div class="jumbotron" >
  <div class="container"> 
    <h1>Picflow</h1>
    <p>Discover the flow of instagram!</p>
    <div class="input-group nofocus" style="margin: 0 auto;" ng-class="{focus: focus}" ng-mouseover="focus=true" ng-mouseleave="focus=false"  >
<div class="input-group-btn" id="search">
        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">{{currentMode.symbol}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="mode in modes"><a href="#" ng-click="toggleMode(mode)">{{mode.name}}</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" placeholder="{{currentMode.holder}}" ng-class="{searchfocus: focus}"  ng-enter="updateFlow()" ng-model="input" class="form-control input-lg searchnofocus">
    </div>
  </div>
</div>  

<div class="container-fluid">
<div style="text-align: center;" class="row">
  <div ng-repeat="content in data.slice(0, 6)" id="grid" class="col-xs-6 col-md-2 ">
     <ng-instaphoto ng-content="content" ready="readyForNewData($index)" style="margin: 1dp"/>
  </div>
</div>
<div style="text-align: center;" class="row">
  <div ng-repeat="content in data.slice(6, 12)" id="grid" class="col-xs-6 col-md-2 ">
     <ng-instaphoto ng-content="content" ready="readyForNewData($index+6)" style="margin: 1dp"/>
  </div>
</div>
<div style="text-align: center;" class="row">
  <div ng-repeat="content in data.slice(12, 18)" id="grid" class="col-xs-6 col-md-2 ">
     <ng-instaphoto ng-content="content" ready="readyForNewData($index+12)" style="margin: 1dp"/>
  </div>
</div>
</div>




