<div class="insta-container" ng-class="{removed: hide(), restored: show()}">
	<video id="video" src="{{content.videoURL | trusted}}" muted ng-show="video" poster="./img/video-play-button-icon.png" insta-video>
			Your browser does not support the video tag.
		</video>
		<img ng-hide="video" ng-src="{{content.imageURL | trusted}}" insta-photo/>
		    <button popover-trigger="mouseenter" popover="{{content.user}}" popover-placement="left"  ng-class="{infoVisible: show(), infoHidden: hide()}" class="btn btn-default  info-button"><span class="glyphicon glyphicon-info-sign"></span></button>
</div>







